@page "/statistics"
@using RihalChallenge.Client.Store
@using RihalChallenge.Client.Store.Statstics.GetClass
@inject IDispatcher Dispatcher
@inject IState<StateStore> StateStore


<PageTitle>Statistics</PageTitle>

<h1>Statistics</h1>

@if ((bool)StateStore.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Class Name</th>
            <th>Number of students</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var country in StateStore.Value.ClassesStatistics)
        {
            <tr>
                <td>@country.ClassName</td>
                <td>@country.StudentsNumber</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new GetClassesStatisticsAction());
    }

}